html {
  font-size: 10px;
}

body {
  font-family: "Inter", serif;
  font-size: 1.8rem;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 1.8rem 2.7rem;
  border-radius: 1.8rem;
  background-color: #6c5fbc;
  color: #f9f9f9;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    background-color: #f9f9f9;
    color: #6c5fbc;
    -webkit-box-shadow: 0 0 10px #6c5fbc;
            box-shadow: 0 0 10px #6c5fbc;
  }

  &_white {
    background-color: #fff;
    color: #6c5fbc;
    border: 1.5px solid #6c5fbc;
  }
}

.title {
  font-family: "Poppins", serif;
  font-weight: 600;
  line-height: 120%;
  color: #201f1f;
  // .title_violet

  &_violet {
    color: #5c4eae;
  }
}

/*header*/

.header {
	position: relative;
	z-index: 7;
  padding: 4.7rem 0 2.6rem;
  background-color: #F9F9F9;

  // .header__container

  &__container {
    padding-bottom: 2.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #cbcbcb;
  }

  // .header__navigation

  &__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  // .header__logo

  &__logo {
    margin-right: 10.3rem;
  }

  // .header__buttons

  &__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  // .header__link

  &__link {
    margin-right: 3rem;
    padding: 0.5rem;
    border-radius: 1.8rem;
    line-height: 150%;
    font-weight: 700;
    color: #606060;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      -webkit-box-shadow: 0 0 1.5rem #6c5fbc;
              box-shadow: 0 0 1.5rem #6c5fbc;
    }
  }

  // .header__button

  &__button {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 700;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  // .logo__img

  &__img {
    margin-right: 1.1rem;
    width: 46px;
    height: 43px;
    img {
      width: 100%;
    }
  }

  // .logo__text

  &__text {
    font-family: "Poppins", serif;
    font-size: 2.2rem;
    line-height: 130%;
    font-weight: 600;
    color: #6c5fbc;
  }
}
.menu {
  // .menu__list

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  // .menu__item

  &__item {
    &:not(:last-child) {
      margin-right: 54px;
    }
  }

  // .menu__link

  &__link {
    line-height: 155%;
    font-weight: 500;
    color: #606060;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      color: #6c5fbc;
      border-bottom: 1px solid #6c5fbc;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 3.3rem 0 1.8rem;

    &__container {
      padding-bottom: 1.8rem;
    }

    &__logo {
      margin-right: 7.4rem;
    }

    &__link {
      margin-right: 2rem;
      font-size: 1.3rem;
      line-height: 146%;
    }

    &__button {
      padding: 1.3rem 1.9rem;
      height: 4.5rem;
      font-size: 1.3rem;
      line-height: 102%;
    }
  }

  .logo {
    &__img {
      margin-right: 0.8rem;
      width: 33px;
      height: 30px;
    }

    &__text {
      font-size: 1.5rem;
    }
  }

  .menu {
    &__item:not(:last-child) {
      margin-right: 3.8rem;
    }

    &__link {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 650px) {
  .header {
    &__logo {
      margin-right: 5rem;
    }
    .menu__list {
      display: none;
    }

    .header__buttons {
      margin-right: 6rem;
    }

    .menu__burger {
      display: block;
      position: absolute;
      top: 4.3rem;
      right: 1.5rem;
      width: 3.2rem;
      height: 2.3rem;
      z-index: 5;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      cursor: pointer;
    }

    .menu__burger span {
      position: absolute;
      background-color: #282828;
      left: 0;
      top: 1.1rem;
      width: 100%;
      height: 2px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    .menu__burger::before,
    .menu__burger::after {
      content: "";
      background-color: #282828;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    .menu__burger::before {
      top: 0;
    }

    .menu__burger::after {
      bottom: 0;
    }

    .menu__burger_active span {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
    }

    .menu__burger_active::before {
      background-color: #fff;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 1.2rem;
    }

    .menu__burger_active::after {
      background-color: #fff;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      bottom: 0.9rem;
    }

    .menu__list_active {
      position: absolute;
      z-index: 4;
      display: block;
      overflow: auto;
      top: 0;
      left: 0;
      background-color: #6c5fbc;
      width: 100vw;
      height: 100vh;
      padding-top: 10rem;
      text-align: center;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      .menu__item {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem;
        }
      }
      .menu__link {
        font-size: 3.5rem;
        color: #fff;
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    &__buttons {
      display: none;
    }
  }

  .logo {
    &__img {
      margin-right: 1.1rem;
      width: 4.6rem;
      height: 4.2rem;
    }

    &__text {
      font-size: 2.1rem;
    }
  }
}

/*main*/

.main {
    background-color: #f9f9f9;
}

/*hero*/

.hero {
  padding: 11.9rem 0 13rem;

  // .hero__items

  &__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  // .hero__content

  &__content {
    margin-right: 1.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  // .hero__headline

  &__headline {
    position: relative;
    padding-left: 5.3rem;
    margin-bottom: 1.8rem;
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: 600;
    text-transform: uppercase;
    color: #201f1f;
    opacity: 0.2;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 38.4px;
        height: 1px;
        color: #201F1F;
    }
  }

   // .hero__title

  &__title {
    margin-bottom: 1.6rem;
    font-size: 7.5rem;
  }

  // .hero__text

  &__text {
    margin-bottom: 5.3rem;
    max-width: 50rem;
    font-size: 1.8rem;
    line-height: 155%;
    color: #676767;
    opacity: 0.7;
    // .hero__text_violet

    &_violet {
        color: #5c4eae;
        font-weight: 500;
    }
  }

  // .hero__buttons

  &__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3.3rem;
  }

  // .hero__button

  &__button {
    &:not(:last-child){
        margin-right: 1.8rem;
    }
  }

  // .hero__stars

  &__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  // .hero__stars-green

  &__stars-green {
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  // .hero__stars-green-img

  &__stars-green-img {
    margin-right: 0.2rem;
    width: 3rem;
    
  }

  // .hero__stars-gold

  &__stars-gold {
    margin-right: 0.4rem;
 
  }

  // .hero__stars-text

  &__stars-text {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 500;
    color: #334155;

  }

  // .hero__imges

  &__imges {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 52%;
            flex: 0 1 52%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  // .hero__imges-img

  &__imges-img {
    position: relative;
    width: 42.96rem;
    height: 44.36rem;
 
  }

  &__images-img-main {
   position: relative;
	width: 100%;
   z-index: 3;
  }

  &__images-img-oval {
    position: absolute;
    top: -9px;
    left: 24px;
	 width: 100%;
  }

  // .hero__imges-img-decor

  &__imges-img-decor {
    position: absolute;
    top: 60px;
    right: -80px;
  }

  // .hero__imges-dish

  &__imges-dish {
    position: absolute;
    top: -60px;
    right: -50px;
    z-index: 4;
  }

  // .hero__graf

  &__graf {
    position: absolute;
    bottom: -70px;
    left: -20px;
    z-index: 4;
  }
}

.stars-gold {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  // .stars-gold__star

  &__star {
    margin-right: 0.4rem;
    width: 1.6rem;
  }
}

.block-dish-mini {
    padding: 0.5rem 1.6rem;
    width: 32.87rem;
    height: 8.95rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 1.4rem 1.9rem 3.76rem rgba(26, 32, 44, 0.15);
            box-shadow: 1.4rem 1.9rem 3.76rem rgba(26, 32, 44, 0.15);
    border-radius: 1.64rem;
    font-family: "Poppins", serif;

  // .block-dish-mini__img

  &__img {
    margin-right: 1.8rem;
    width: 7.34rem;
    height: 8.11rem;
  }

  // .block-dish-mini__body

  &__body {
    color: #323142;
  }

  // .block-dish-mini__title

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: 600;
  }

  // .block-dish-mini__text

  &__text {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 500;
  }

  // .block-dish-mini__time

  &__time {
    margin-left: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 1.1rem;
    line-height: 140%;
    font-weight: 500;
    color: #ACADB9;
  }

  // .block-dish-mini__decor

  &__decor {
    position: absolute;
    top: -30px;
    right: -38px;
  }
}
.graf {
    padding: 1.3rem 0 1.1rem;
    width: 20.7rem;
    height: 20.55rem;
    border-radius: 1.64rem;
    background-color: #fff;
    -webkit-box-shadow: 1.4rem 1.9rem 3.76rem rgba(26, 32, 44, 0.15);
            box-shadow: 1.4rem 1.9rem 3.76rem rgba(26, 32, 44, 0.15);
    font-family: "Poppins", serif;
    color: #828282;
  // .graf__menu

  &__menu {
    margin-bottom: 2rem;
    padding: 0 2.2rem;
 }

  // .graf__list

  &__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  // .graf__item

  &__item {
    padding: 0.4rem 1.1rem;
    border-radius: 1.46rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        background-color: #6c5fbc;
        color: #fff;
    }
  }

  // .graf__link

  &__link {
    font-size: 0.7rem;
    line-height: 150%;
  }

  // .graf__img

  &__img {
    margin-bottom: 1.5rem;
  }

  // .graf__digits

  &__digits {
    padding: 0 1.5rem 0 2.9rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  // .graf__digit

  &__digit {
    padding: 0.575rem 1rem;
    border-radius: 1.68rem;
    font-size: 0.7rem;
    line-height: 117%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        background-color: #E7E7E7EB;
        color: #151515;
    }
  }

  // .graf__decor

  &__decor {
    position: absolute;
    bottom: -38px;
    left: -38px;
  }
}


@media (max-width: 1300px) {
    .hero {
        padding: 8.4rem 0 9.1rem;

        &__content {
            -webkit-box-flex: 0;
                -ms-flex: 0 1 42%;
                    flex: 0 1 42%;
        }

        &__title {
            font-size: 5.3rem;
        }

        &__text {
            max-width: 35.5rem;
            font-size: 1.3rem;
        }

        &__stars-green-text {
            -ms-flex-item-align: end;
                align-self: end;
            max-width: 6.5rem;
            img {
                width: 100%;
                height: auto;
					 vertical-align: bottom;
            }
        }
    }
}

@media (max-width: 1024px) {
	.hero {
		&__headline {
			font-size: 1.1rem;
		}

		&__stars-text {
			font-size: 1.2rem;
			line-height: 100%;
		}

		 &__imges-img {
			width: 30.55rem;
			height: 31.55rem;
		
		}

		&__images-img-oval {
			top: -7px;
			left: 14px;
		
		}
	}

	.block-dish-mini {
		width: 23.37rem;
		height: auto;

		&__img {
			width: 5.23rem;
			height: 5.77rem;
			img {
				width: 100%;
				vertical-align: middle;
			}
		}

		&__title {
			font-size: 1.1rem;
		}

		&__text {
			font-size: 0.7rem;
		}

		&__time {
			font-size: 0.76rem;
		}
	}

	.graf {
		padding: 1rem 0;
		width: 14.74rem;
		height: 14.61rem;

		&__img {
			img {
				width: 100%;
			}
		}

		&__menu {
			padding: 0 0.3rem;
			margin-bottom: 1.5rem;
		}
		
		&__item {
			padding: 0.4rem;
		}

		&__link {
			font-size: 0.49rem;
		}

		&__digits {
			padding: 0 0.5rem;
		}

		&__digit {
			padding: 0.5rem;
		}
	}

	 .stars-gold__star {
		width: 1.13rem;
	
		img {
			width: 100%;
			vertical-align: bottom;
		}
	 }
}

@media (max-width: 820px) {
	.hero {
		padding: 5.7rem 0 13rem;

		&__items {
			flex-direction: column;
		}

		&__content {
			margin-right: 0;
			margin-bottom: 9.5rem;
			flex: 1 0 100%;
			text-align: center;
		}

		&__text {
			max-width: 100%;
		}

		&__imges {
			width: 100%;
		}

		&__graf {
			left: -30px;
		}
	}
}

@media (max-width: 500px) {
	.hero {
		padding: 5.7rem 0 7.5rem;
		&__headline {
			margin-bottom: 0.5rem;
			font-size: 0.93rem;
		}

		&__title {
			font-size: 4.62rem;
		}

		&__text {
			font-size: 1.11rem;
		}

		&__buttons {
			justify-content: center;
		}

		&__stars {
			justify-content: center;
		}

		&__imges-img {
			width: 20.39rem;
			height: 21.06rem;
		}

		&__images-img-oval {
			left: 10px;
		}

		&__imges-img-decor {
			width: 4.79rem;
			height: 4.63rem;
			right: -45px;
			top: 30px;
			img {
				width: 100%;
			}
		}

		&__imges-dish {
			padding: 0.5rem;
			width: 15.6rem;
			height: 4.25rem;
			border-radius: 0.78rem;
			top: -30px;
			
			.block-dish-mini__img {
				margin-right: 0.86rem;
				width: 3.49rem;
				height: 3.85rem;
			}

			.block-dish-mini__title {
				font-size: 0.74rem;
			}

			.block-dish-mini__text {
				font-size: 0.47rem;
			}

			.block-dish-mini__time {
				font-size: 0.5rem;
				line-height: 100%;
			}

			.block-dish-mini__decor {
				width: 1.97rem;
				top: -17px;
				right: -20px;
				img {
					width: 100%;
				}
			}
		}

		&__graf {
			bottom: -26px;
			left: -30px;
		}
	}

	.graf {
		padding: 0.6rem 0;
		width: 9.84rem;
		height: 9.75rem;
		border-radius: 1rem;

		&__menu {
			margin-bottom: 1rem;
		}

		&__img {
			margin-bottom: 0.75rem;
		}

		&__link {
			font-size: 0.33rem;
		}

		&__digit {
			font-size: 0.3rem;
		}

		&__decor {
			width: 1.8rem;
			bottom: -26px;
			left: -14px;
			img {
				width: 100%;
			}
		}
	}
}

@media (max-width: 360px) {
	.hero {
		padding: 5rem 0 7.5rem;

		&__title {
			font-size: 4rem;
		}

		&__imges-img-decor {
			width: 4rem;
			right: -35px;
		}

		&__imges-dish {
			right:  -12px;
		}

		&__graf {
			left: -20px;
		}
	}
}

/*achievements*/

.achievements {
    padding: 4.9rem 0;
    width: 100%;
    background: url('../img/home/achievements-fon.png') no-repeat;
    background-size: cover;
    color: #fff;
    // .achievements__items

    &__items {
        margin: 0 auto;
        max-width: 94.2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    // .achievements__item

    &__item {
        padding: 0 6.6rem;
        text-align: center;
        &:nth-child(2) {
            border-left: 1px solid rgba(197, 197, 197, 0.15);
            border-right: 1px solid rgba(197, 197, 197, 0.15);
        }
    }
 

    
@media (max-width: 1024px) {
	.hero {
		&__headline {
			font-size: 1.1rem;
		}

		&__stars-text {
			font-size: 1.2rem;
			line-height: 100%;
		}

		 &__imges-img {
			width: 30.55rem;
			height: 31.55rem;
		
		}

		&__images-img-oval {
			top: -7px;
			left: 14px;
		
		}
	}

	.block-dish-mini {
		width: 23.37rem;
		height: auto;

		&__img {
			width: 5.23rem;
			height: 5.77rem;
			img {
				width: 100%;
				vertical-align: middle;
			}
		}

		&__title {
			font-size: 1.1rem;
		}

		&__text {
			font-size: 0.7rem;
		}

		&__time {
			font-size: 0.76rem;
		}
	}

	.graf {
		padding: 1rem 0;
		width: 14.74rem;
		height: 14.61rem;

		&__img {
			img {
				width: 100%;
			}
		}

		&__menu {
			padding: 0 0.3rem;
			margin-bottom: 1.5rem;
		}
		
		&__item {
			padding: 0.4rem;
		}

		&__link {
			font-size: 0.49rem;
		}

		&__digits {
			padding: 0 0.5rem;
		}

		&__digit {
			padding: 0.5rem;
		}
	}

	 .stars-gold__star {
		width: 1.13rem;
	
		img {
			width: 100%;
			vertical-align: bottom;
		}
	 }
}

@media (max-width: 820px) {
	.hero {
		padding: 5.7rem 0 7.5rem;

		&__items {
			flex-direction: column;
		}

		&__content {
			margin-right: 0;
			margin-bottom: 9.5rem;
			flex: 1 0 100%;
			text-align: center;
		}

		&__text {
			max-width: 100%;
		}

		&__imges {
			width: 100%;
		}
	}
}

@media (max-width: 500px) {
	.hero {
		&__headline {
			margin-bottom: 0.5rem;
			font-size: 0.93rem;
		}

		&__title {
			font-size: 4.62rem;
		}

		&__text {
			font-size: 1.11rem;
		}

		&__buttons {
			justify-content: center;
		}

		&__stars {
			justify-content: center;
		}

		&__imges-img {
			width: 20.39rem;
			height: 21.06rem;
		}

		&__images-img-oval {
			left: 10px;
		}

		&__imges-img-decor {
			width: 4.79rem;
			height: 4.63rem;
			right: -45px;
			top: 30px;
			img {
				width: 100%;
			}
		}

		&__imges-dish {
			padding: 0.5rem;
			width: 15.6rem;
			height: 4.25rem;
			border-radius: 0.78rem;
			top: -30px;
			
			.block-dish-mini__img {
				margin-right: 0.86rem;
				width: 3.49rem;
				height: 3.85rem;
			}

			.block-dish-mini__title {
				font-size: 0.74rem;
			}

			.block-dish-mini__text {
				font-size: 0.47rem;
			}

			.block-dish-mini__time {
				font-size: 0.5rem;
				line-height: 100%;
			}

			.block-dish-mini__decor {
				width: 1.97rem;
				top: -17px;
				right: -20px;
				img {
					width: 100%;
				}
			}
		}

		&__graf {
			bottom: -26px;
			left: -30px;
		}
	}

	.graf {
		padding: 0.6rem 0;
		width: 9.84rem;
		height: 9.75rem;
		border-radius: 1rem;

		&__menu {
			margin-bottom: 1rem;
		}

		&__img {
			margin-bottom: 0.75rem;
		}

		&__link {
			font-size: 0.33rem;
		}

		&__digit {
			font-size: 0.3rem;
		}

		&__decor {
			width: 1.8rem;
			bottom: -26px;
			left: -14px;
			img {
				width: 100%;
			}
		}
	}
}

@media (max-width: 360px) {
	.hero {
		padding: 5rem 0 7.5rem;

		&__title {
			font-size: 4rem;
		}

		&__imges-img-decor {
			width: 4rem;
			right: -35px;
		}

		&__imges-dish {
			right:  -12px;
		}

		&__graf {
			left: -20px;
		}
	}
}


// .achievements__digit

&__digit {
    margin-bottom: 1.1rem;
    font-family: "Public Sans", serif;
    font-size: 4.32rem;
    line-height: 125%;
    font-weight: 700;
}

// .achievements__text

&__text {
    font-size: 1.44rem;
    line-height: 150%;
    font-weight: 500;
    color: #C5BFED;
}
}

@media (max-width: 1024px) {
    .achievements {
		padding: 4.05rem 0 3.92rem;
		
		&__item {
			padding: 0 4.7rem;
		}

		&__digit {
			font-size: 3.07rem;
		}

		&__text {
			font-size: 1.02rem;
		}
	}
}

@media (max-width: 768px) {
	.achievements {
		&__item {
			padding: 0 3.5rem;
		}
	}
}

@media (max-width: 600px) {
	.achievements {
		&__items {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 3.5rem;
		}

		&__item:nth-child(2) {
			border-right: none;
		}

		&__item:last-child {
			grid-column: span 2;
		}
	}
}

@media (max-width: 375px) {
	.achievements {
		padding: 3.9rem 0 2.26rem;

		&__items {
			grid-template-columns: 1fr;
		}

		&__item {
			padding: 6rem 0;

			&:last-child {
				grid-column: span 1;
			}

			&:nth-child(2) {
				border-right: none;
				border-left: none;
				border-top: 1px solid rgba(197, 197, 197, 0.15);
				border-bottom: 1px solid rgba(197, 197, 197, 0.15);
			}
		}

		&__digit {
			font-size: 4.32rem;
		}

		&__text {
			margin: 0 auto;
			max-width: 20.8rem;
			font-size: 1.44rem;
		}
	}
}


/*premium-quality*/

.premium-quality {
    padding: 10.3rem 0 12rem;
    // .premium-quality__items

    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    // .premium-quality__image

    &__image {
       width: 56.8rem;
       display: flex;
        justify-content: center;
    }

    &__image-phone {
        width: fit-content;
        position: relative;
    }

    // .premium-quality__phone-decor

    &__phone-decor {
        position: absolute;
        top: -1.5rem;
        right: -6rem;
        max-width: 5.24rem;
        z-index: 5;
        img {
            width: 100%;
        }
    }

    // .premium-quality__content

    &__content {
        margin-left: 1.5rem;
        max-width: 56rem;
    }

    // .premium-quality__title

    &__title {
        margin-top: 9.1rem;
        margin-bottom: 6.3rem;
        font-size: 5.09rem;
    }

    // .premium-quality__list

    &__list {
        margin-bottom: 6rem;
       
    }

    // .premium-quality__item

    &__item {
       /* list-style: disc;
        list-style-position: inside;*/
        position: relative;
        padding-left: 1.5rem;
        font-size: 2.03rem;
        line-height: 150%;
        color: #676767;
        &:not(:last-child) {
            margin-bottom: 2.79rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 1.4rem;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: #676767;
        }
    }

    // .premium-quality__nav

    &__nav {
        position: relative;
    }

    // .premium-quality__button

    &__button {
        display: block;
        width: 18.6rem;
        height: 6.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    // .premium-quality__arrow-decor

    &__arrow-decor {
        position: absolute;
        bottom: -70%;
        right: 35%;    
    }
}

@media (max-width: 1024px) {
    .premium-quality {
        padding: 7.36rem 0 8.53rem;

        &__image {
            width: 40.39rem;
        }

        &__image-phone {
            max-width: 21.6rem;
            img {
                width: 100%;
            }
        }

        &__phone-decor {
            max-width: 3.73rem;
            right: -4rem;
            top: -1rem;
        }

        &__content {
            max-width: 39.82rem;
        }

        &__title {
            margin-top: 6.47rem;
            margin-bottom: 4.5rem;
            font-size: 3.62rem;
        }

        &__item {
            padding-left: 1rem;
            font-size: 1.45rem;
            &:not(:last-child) {
                margin-bottom: 1.92rem;
            }

            &:before {
                width: 0.4rem;
                height: 0.4rem;
                top: 0.9rem;
            }
        }

        &__button {
            width: 13.2rem;
            height: 4.5rem;
            font-size: 1.28rem;
        }

        &__arrow-decor {
            max-width: 10.99rem;
            right: 45%;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .premium-quality {
        &__image {
            width: 30rem;
        }

        &__content {
            margin-left: 3rem;
            max-width: 30rem;
        }

        &__title {
            margin-top: 4rem;
            margin-bottom: 2rem;
            font-size: 3rem;
        }

        &__list {
            margin-bottom: 4rem;
        }

        &__arrow-decor {
            bottom: -80%;
            right: 25%;
        }
    }
}

@media (max-width: 600px) {
    .premium-quality {
        padding: 6.7rem 0;

        &__items {
            flex-direction: column
        }

        &__content {
            margin-bottom: 10.08rem;
            max-width: 100%;
            order: 1;
        }

        &__image {
            width: 100%;
            order: 2;
        }

        &__button {
            margin: 0 auto;
        }

        &__arrow-decor {
            transform: rotate(110deg);
            left: 0;
        }
       
    }
}

@media (max-width: 375px) {
    .premium-quality {
        &__image-phone {
            max-width: 17.07rem;
        }

        &__phone-decor {
            max-width: 2.95rem;
            right: -3rem;
        }

        &__title {
            font-size: 2.4rem;
        }

        &__item {
            font-size: 1.2rem;
            &::before {
                width: 0.3rem;
                height: 0.3rem;
                top: 0.7rem;
            }
        }

        &__arrow-decor {
            bottom: -100%;
            left: -17%;
        }
    }
}

/*top-restaurants*/
.top-restaurants {
	padding: 0 1.5rem;
	.container {
		padding: 10rem 0 12rem;
		border-top: 0.1rem solid #CBCBCB;
		border-bottom: 0.1rem solid #CBCBCB;
	 }
    // .top-restaurants__title

    &__title {
        margin-bottom: 8.57rem;
        font-size: 4.5rem;
        text-align: center;
    }

    // .top-restaurants__items

    &__items {
        width: 100%;
        margin-bottom: 6.57rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.04rem;
    }

    // .top-restaurants__item

    &__item {
        border-radius: 3rem;
        border: 0.125rem solid #F4F4F6;
        box-shadow: 0.595rem 7.135rem 3.567rem rgba(229, 229, 229, 0.7);
    }

    // .top-restaurants__button

    &__button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        p {
            margin-right: 2rem;
				color: #ACADB9;
        }
		  transition: all 0.5s ease;
		  &:hover {
			p {
				color: #606168;
				border-bottom: 0.1rem solid #606168;
			}
		  }
    }

    // .top-restaurants__arrow

    &__arrow {
        display: flex;
        align-items: center;
      
        span {
            margin-right: -1rem;
            display: block;
            width: 1.58rem;
            height: 0.226rem;
            background-color: #ACADB9;
        }
    }
}

.card-restaurants {

    // .card-restaurants__img

    &__img {
       height: 17.61rem;
        img {
            width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 3rem 3rem 0 0;
        }
    }

    // .card-restaurants__content

    &__content {
		padding: 1.09rem 2.67rem 1.8rem 3.4rem;
    }

    // .card-restaurants__category

    &__category {
		padding: 0.3rem 0.86rem;
		max-width: fit-content;
		border-radius: 0.54rem;
		background-color: #F7EDD0;
		font-family: "Poppins", serif;
		font-size: 1.28rem;
		line-height: 150%;
		color: #DAA31A;


        // .card-restaurants__category_red

        &_red {
			background-color: #F7C5BA;
			color: #FB471D;
        }
    }

    // .card-restaurants__title

    &__title {
		margin-bottom: 0.2rem;
		font-family: "Poppins", serif;
		font-size: 2.58rem;
		line-height: 162%;
		font-weight: 600;
    }

    // .card-restaurants__dop-info

    &__dop-info {
    }
}
.dop-info-card {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-family: "Manrope", serif;
	font-size: 1.93rem;
	line-height: 133%;
	color: #8E97A6;

    // .dop-info-card__left

    &__left {
		display: flex;
		align-items: flex-end;
    }

    // .dop-info-card__time

    &__time {
		margin-right: 1.4rem;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 48%;
			right: -0.9rem;
			width: 0.4rem;
			height: 0.4rem;
			border-radius: 50%;
			background-color: #8E97A6;
		}
    }

    // .dop-info-card__rating

    &__rating {
		margin-left: 0.64rem;
    }

    // .dop-info-card__right

    &__right {
		max-width: 4rem;
		img {
			width: 100%;
		}
    }
}

@media (max-width: 1024px) {
	.top-restaurants {
		.container {
		padding: 7.1rem 0 8.5rem;	
		}

		&__title {
			margin-bottom: 6.04rem;
			font-size: 3.2rem;
		}

		&__items {
			gap: 2.16rem;
		}
	}

	.card-restaurants {
		&__img {
			height: 12.53rem;
		}

		&__content {
			padding: 0.78rem 1.2rem 1.2rem;
		}

		&__category {
			font-size: 0.9rem;
		}

		&__title {
			font-size: 1.83rem;
		}
	}

	.dop-info-card {
		font-size: 1.38rem;
		img {
			width: 1.83rem;
		}

		&__right {
			width: 2.85rem;
			height: 2.85rem;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media (max-width: 768px) {
	.top-restaurants {
		.container {
			padding: 8.4rem 0 6.6rem;
		}

		&__title {
			margin-bottom: 5.9rem;
			font-size: 3rem;
		}

		&__items {
			grid-template-columns: repeat(4, 1fr);
		}

		&__item {
			grid-column: span 2;

			&:last-child {
				grid-column: 2 / 4;
			}
		}
	}
}

@media (max-width: 480px) {
	.top-restaurants {
		&__items {
			grid-template-columns: 1fr;
		}

		&__item {
			grid-column: span 1;

			&:last-child {
				grid-column: 1 / 2;
			}
		}
	}

	.card-restaurants {
		&__img {
			height: 14rem;
		}
	}
}


